---
import Popup from "./subcomponents/astroPopup.astro";
---

<!-- Toolbox -->
<Popup title="Werkzeuge & Bewertungen" debug="false" popupID="popup-tools">
	<div class="toolbox__section">
        <a href="#">
            <h3>Helpdesk Ticket erstellen</h3>
        </a>
	</div>
	<div class="toolbox__section">
		<a
			href="https://mobile.pcvisit.de/v1/hosted/jumplink?func=download&productrole=guestSetup&gateway=lb3.pcvisit.de&companyid=7504171874"
		>
			<h3>PCVISIT Kundenmodul herunterladen</h3>
		</a>
	</div>
	<div class="toolbox__section">
		<a
			href="https://www.provenexpert.com/petersen-it-services/?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget"
		>
			<h3>Kundenbewertung abgeben ❤</h3>
		</a>
	</div>
</Popup>

<!-- Service Popups -->

<Popup title="Zertifizierte Datenlöschung" debug="false" popupID="popup-0">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Lösung für Sicherheitssoftware" debug="false" popupID="popup-1">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Email-Security" debug="false" popupID="popup-2">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Domain & DNS" debug="false" popupID="popup-3">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Webhosting" debug="false" popupID="popup-4">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Firewalllösungen" debug="false" popupID="popup-5">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Internetanschlüsse" debug="false" popupID="popup-6">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Hardware & Peripheripherie" debug="false" popupID="popup-7">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Terra-Gaming" debug="false" popupID="popup-8">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Wortmann Telecom" debug="false" popupID="popup-9">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="ecoDMS Dokumentenmanagement" debug="false" popupID="popup-10">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Telefonielösungen" debug="false" popupID="popup-11">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Netzwerklösungen" debug="false" popupID="popup-12">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Microsoft Office 365 Lösungen" debug="false" popupID="popup-13">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<Popup title="Kommunikationslösungen" debug="false" popupID="popup-14">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nunc in nisl</p>
	</div>
</Popup>

<style>
	p {
		padding-left: 0;
	}
	.toolbox__section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		border-bottom: 1px solid #b6b6b6;
		margin-top: 4rem;
		margin-left: 20px;
	}
	.toolbox__section h3 {
		font-size: 1.6rem;
		margin: 0;
        color: var(--color-primary);
        text-decoration-color: var(--color-primary);
	}
</style>
