---
---

<nav>
	<div class="logo-container">
		<a class="logoWrapper" href="/">
		<img src="/assets/images/logo.svg" />
		</a>
	</div>
	<div class="desktop-menu">
		<ul>
			<li magic-hover magic-hover__square ><a href="#Dienstleistungen">Dienstleistungen</a></li>
			<li magic-hover magic-hover__square ><a href="#Referenzen">Referenzen</a></li>
			<li magic-hover magic-hover__square ><a href="#Zertifizierungen">Zertifizierungen</a></li>
			<li magic-hover magic-hover__square ><a href="#Kontakt">Kontakt</a></li>
			<li magic-hover magic-hover__square id="toolbutton"><a  href="#Tools">Werkzeuge</a></li>
		</ul>
	</div>
	<div class="mobile-menu-burger"></div>
</nav>
<style>
	.logoWrapper {
		height: 100%;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
	}
	nav div {
		display: flex;
		align-items: center;
		height: 80px;
	}

	.logo-container img {
		height: 100%;
	}

	.logo-container {
		width: 300px !important;
	}
	.mobile-menu-burger {
		width: 300px !important;
	}
	.desktop-menu ul {
		display: flex;
		list-style: none;
		justify-content: space-evenly;
		margin: 0!important;
		gap: 2rem;
	}
	.desktop-menu ul a {
		font-size: 1.2rem;
		text-decoration: none !important;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		position: relative;
		color: var(--color-grey)!important;
		height: 100%;
		width: 100%;
		
	}
	
	.desktop-menu ul li {
		padding: .7rem;
		border-radius: 10px;
		/* margin-left: 10px; */
		box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
		transition: all 0.2s ease-in-out;

	}
	.desktop-menu ul li:hover {
		box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
		transition: all 0.2s ease-in-out;

	}
	#toolbutton {
		/* background-color: var(--color-dark); */
		box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
	}
	#toolbutton:hover {
		/* background-color: var(--color-dark); */
		box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
	}
	#toolbutton a {

	}
</style>
