---
---

<script>
	const call = '<a href="tel:+499123456789" class="callContainter"><div ><div class="content neomorphism"><span class="icon-phone trin-trin"> </span></div></div><a/>';
	const mail = '<a href="mailto:info@petersen-it-services.de" class="mailContainter"><div ><div class="content neomorphism"><span class="icon-mail trin-trin"> </span></div></div><a/>';

	var o = document.createElement("div");
	o.setAttribute("id", "CAN"), document.body.appendChild(o);
	var n = document.getElementById("CAN");
	n.innerHTML = call + mail;
	// console.log("container");
</script>
<style></style>
