---
---

<div id="preloader" class="preloader-container">
	<div id="preloader-ring" class="loader-ring">
		<div class="loader-ring-light"></div>
		<div class="loader-ring-track"></div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		var x = document.getElementById("preloader");
		var y = document.getElementById("preloader-ring");
		console.log("Page is loaded");
		async function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}
		sleep(2000).then(() => {
			x.classList.add("visuallyhidden1");
			x.addEventListener("transitionend", function () {
				x.classList.add("hidden");
			});
			y.classList.add("visuallyhidden2");
			y.addEventListener("transitionend", function () {
				x.classList.add("hidden");
			});
		});
	});
</script>

<style>
	:root {
		--loader-ring-size: 240px;
		--loader-ring-border-size: 4px;
	}
	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 999999;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.relative {
		position: relative;
	}
	.loader-ring {
		position: absolute;
		margin: var(--loader-ring-size) / -2 0 0 var(--loader-ring-size) / -2;
		width: var(--loader-ring-size);
		height: var(--loader-ring-size);
	}
	.loader-ring-light {
		width: var(--loader-ring-size);
		height: var(--loader-ring-size);
		border-radius: var(--loader-ring-size);
		box-shadow: 0 var(--loader-ring-border-size) 0 #00abf2 inset;
		animation: rotate-360 2s linear infinite;
	}
	.loader-ring-track {
		position: absolute;
		top: 0;
		left: 0;
		width: var(--loader-ring-size);
		height: var(--loader-ring-size);
		border-radius: var(--loader-ring-size);
		box-shadow: 0 0 10px var(--loader-ring-border-size) rgba(0, 0, 0, 0.3) inset;
	}
	@keyframes rotate-360 {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.hidden {
		display: none!important;;
	}

	.visuallyhidden1 {
		opacity: 0;
		transition: opacity 1.2s;
	}
	.visuallyhidden2 {
		opacity: 0;
		transition: opacity 2s;
	}
</style>
